@model  LazyWelfare.AndroidMobile.Models.HostModel

<div class="line-section">
    <div class="list-group">
        <a href="javascript:void(0);" class="list-group-item  service-list">
            <span class="glyphicon   glyphicon-th-list  " aria-hidden="true"></span> 
            <span>管理服务</span>
        </a>
    </div>
</div>

@if (Model != null)
{
    <ul class="list-group" id="servicehost" data-guid="@Model.Domain">
        <li class="list-group-item service-edit active">
            <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
            <span>@Model.Name</span>
        </li>
        <li class="list-group-item main-item">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            <span>开关</span>
        </li>
        <li class="list-group-item command-item">
            <span class="command-item-button orangered ">关机</span>
            <span class="command-item-button red">睡眠</span>
        </li>
        <li class="list-group-item main-command-item">
            <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
            <span>音量调节</span>
        </li>
    </ul>
    <script>
        $(function () {
           var guid = $("#servicehost").data("guid");
           
           ViewScript.AppendPartial('#servicehost', 'ServiceHost', 'command-panel', guid, function () {
                $(".command-item").css("display", "none");
                $(".main-item").click(function () {
                    $(this).next().fadeToggle();
                });

                $(".command-item-button").click(function () {
                    ViewScript.CommandInvoke(this);
                });

                $(".main-command-item").click(function () {
                    ViewScript.CommandInvoke(this);
                });

                $(".service-edit").click(function () {
                    ViewScript.PartialLoad('#MainContent', '@HostDetailView.Partial.Host', '@HostDetailView.Partial.Path', guid);
                });
            });
        })
    </script>
}
else
{

}

<script>
    $(function () {

        $(".service-list").click(function () {
            ViewScript.PartialLoad('#MainContent', '@HostsView.Partial.Host', '@HostsView.Partial.Path');
        });

    })
</script>


