@model  LazyWelfare.AndroidMobile.Models.HostModel

<div class="line-section">
    <div class="list-group">
        <a href="javascript:void(0);" class="list-group-item  service-list">
            <span class="glyphicon   glyphicon-th-list  " aria-hidden="true"></span>
            <span>管理服务</span>
        </a>
    </div>
</div>

<div class="line-section" id="servicehost">

</div>

@if (Model != null)
{
    <script>
        $(function () {
            ViewScript.RequestPartial('#servicehost', "Replace", '@HostFacultyView.Partial.Host', '@HostFacultyView.Partial.Path','@Model.Domain');
        })
    </script>
}
else
{

}

<script>
    $(function () {

        $(".service-list").click(function () {
            ViewScript.RequestPartial('#MainContent', "Replace", '@HostsView.Partial.Host', '@HostsView.Partial.Path');
        });

    })
</script>


