@{
    var kind = Model.kind;
    var dirs = Model.dirs;
 }

    <div class="line-section">
        <ul class="list-group">
            @foreach (var one in dirs)
            {
                <li class="list-group-item main-item">
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                    <span>@one</span>
                </li>
                <li class="list-group-item command-item " data-dir="@one">
                    <span class="command-item-expleror orangered ">浏览</span>
                    <span class="command-item-exclude red ">设置排除</span>
                    <span class="command-item-create  black">创建映射</span>
                </li>
            }
        </ul>
    </div>

    <script>
        $(function () {

            $(".command-item-expleror").click(function () {
                var dir = $(this).parent().data("dir");
                javascript: BuinessScript.FileExpleror(dir);
            });

            $(".command-item-exclude").click(function () {
                var dir = $(this).parent().data("dir");
                //javascript:BuinessScript.CreateExcludeFolder(dir, '@(kind.ToString())')
                var result = false;
                javascript: result = BuinessScript.CreateExcludeFolder(dir, '@(kind.ToString())');
                if (result) {
                    ViewScript.RequestPartial('#MainContent', "Replace", '@FolderMapExplerorView.Partial.Host', '@FolderMapExplerorView.Partial.Path');
                }
            });
            $(".command-item-create").click(function () {
                var dir = $(this).parent().data("dir");
                javascript: BuinessScript.CreateFolderMap(dir)
            });

        })
    </script>
