@model  List<MicroBluer.AndroidMobile.Models.FolderMapModel>
    <div class="line-section">
        <ul class="list-group">
            @foreach (var one in Model)
            {
            <li class="list-group-item main-item">
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                <span>@one.Name</span>
            </li>
            <li class="list-group-item command-item " data-guid="@one.Guid">
                <span class="command-item-delete red">删除</span>
                <span class="command-item-play orangered">执行</span>
                <span class="command-item-restore black">还原</span>
                <span class="command-item-eidt blue">编辑</span>
            </li>
            }
        </ul>
    </div>

    <div class="line-section">
        <ul class="list-group">
            <li class="list-group-item command-explor">
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                <span>查看归档</span>
            </li>
            <li class="list-group-item command-play">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                <span>开始归档</span>
            </li>
            <li class="list-group-item command-item-add">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span>添加</span>
            </li>
        </ul>
    </div>
    <script>
    $(function () {
        $(".command-item").css("display", "none");
        $(".command-item").each(function () {
            var width = $(this).width();
            var count = $("span", this).length;
            $("span", this).width((width - count) / count); 
        });
        $(".main-item").click(function () {
            var dispaly = $(this).next().css("display");
            $(".command-item").css("display", "none");
            if (dispaly == "none") {
                $(this).next().fadeIn();
            }
        });

        $(".command-item-add").click(function () {
            ViewScript.RequestPartial('#MainContent',"Replace" , '@FolderMapEditView.Partial.Host', '@FolderMapEditView.Partial.Path', "");
        });
     
        $(".command-item-delete").click(function () {
            var guid = $(this).parent().data("guid");
            var result = false;
            javascript: result = BuinessScript.DeleteFolderMap(guid);
            if (result) {
                ViewScript.RequestPartial('#MainContent', "Replace", '@FolderMapsView.Partial.Host', '@FolderMapsView.Partial.Path');
            }
        });
        $(".command-item-eidt").click(function () {
            var guid = $(this).parent().data("guid");
            ViewScript.RequestPartial('#MainContent', "Replace",'@FolderMapEditView.Partial.Host', '@FolderMapEditView.Partial.Path', guid);
        });

        $(".command-play").click(function () {
            javascript: BuinessScript.CollectMapFiles("")
        });


        $(".command-item-play").click(function () {
            var guid = $(this).parent().data("guid");
            javascript: BuinessScript.CollectMapFiles(guid)
        });

        $(".command-item-restore").click(function () {
            var guid = $(this).parent().data("guid");
            javascript: BuinessScript.RevertMapFiles(guid)
        });

    })
    </script>

