@model  LazyWelfare.AndroidMobile.Models.HostModel

<ul class="list-group" data-guid="@Model.Domain">
    <li class="list-group-item service-edit active">
        <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
        <span>@Model.Name</span>
    </li>
    <li class="list-group-item main-item" >
        <span class="glyphicon glyphicon-off" aria-hidden="true" ></span>
        <span>开关</span>
    </li>
    <li class="list-group-item command-item" >
        <span class="command-item-button orangered "  data-service="IComputerCloseFire" >关机</span>
        <span class="command-item-button red"  data-service="IComputerCloseFire">睡眠</span>
    </li>
    <li class="list-group-item main-command-item" data-service="IVolumeController">
        <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
        <span>音量调节</span>
    </li>

    @HostFacultyView.Placeholder_Append

</ul>
<script>
        $(function () {
            var guid ='@Model.Domain';
            $(".command-item").each(function () {
                var width = $(this).width();
                var count = $("span", this).length;
                $("span", this).width((width - count) / count);
            });
            $(".command-item").css("display", "none");
            $(".main-item").click(function () {
                $(this).next().fadeToggle();
            });

            $(".command-item-button").click(function () {
                ViewScript.CommandInvoke(this);
            });

            $(".main-command-item").click(function () {
                ViewScript.CommandInvoke(this);
            });

            $(".service-edit").click(function () {
                ViewScript.RequestPartial('#MainContent', "Replace", '@HostEditView.Partial.Host', '@HostEditView.Partial.Path', guid);
            });

        })
</script>